<div class="card m-3">
  <h5 class="card-header">Welcome to Login Page</h5>
  <div class="card-body">

<form [formGroup]="requiredForm" (ngSubmit)="onSubmit()" >
 
  <div class="form-group">
    <label class="center-block">First Name:
      <input class="form-control" formControlName="firstname">
    </label>
  </div>

  <div *ngIf="requiredForm.controls['firstname'].invalid && requiredForm.controls['firstname'].touched" class="alert alert-danger">
      <div *ngIf="requiredForm.controls['firstname'].errors">
     First Name is required.
    </div>
    
  </div>
  
  <div class="form-group">
    <label class="center-block">Last Name:
      <input class="form-control" formControlName="lastname">
    </label>
  </div>

  <div *ngIf="requiredForm.controls['lastname'].invalid && requiredForm.controls['lastname'].touched" class="alert alert-danger">
      <div *ngIf="requiredForm.controls['lastname'].errors">
     Last Name is required.
    </div>
  </div>

  <div class="form-group">
    <label class="center-block">Telephone:
      <input class="form-control" formControlName="telephone">
    </label>
  </div>

  <div *ngIf="requiredForm.controls['telephone'].invalid && requiredForm.controls['telephone'].touched" class="alert alert-danger">
      <div *ngIf="requiredForm.controls['telephone'].errors">
     Telephone is required.
    </div>
  </div>

  <div class="form-group">
    <label class="center-block">Email:
      <input class="form-control" formControlName="email">
    </label>
  </div>

  <div *ngIf="requiredForm.controls['email'].invalid && requiredForm.controls['email'].touched" class="alert alert-danger">
      <div *ngIf="requiredForm.controls['email'].errors">
     Email is required.
    </div>
  </div>
  
  <p>
    <button (click)="goToPage('users')">Submit</button>
  </p>
 
</form>
</div>
</div>